{% extends 'base.html'%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div id="navlist">
    <div class="links">
        <a href="#">Top headlines</a>
        <a href="#">Other news</a>
    </div>
    
     
    <!-- search bar right align -->
    <div class="search">
        <form action="#">
            <input type="text"
                placeholder=" Search for news"
                name="search">
            <button>
                <i class="fa fa-search"
                    style="font-size: 18px;">
                </i>
            </button>
        </form>
    </div>
</div>

<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">News just in...</h1>
            <p class="lead">Read all news from around the world</p>
        </div>
        </div>

    <div class="container article">
        {% for des, news, i, pub, url in data %}
        <div class="content-wrapper">

            <div class="image">
                <img src="{{i}}" alt="">
            </div>

            <div class="news-details">
                <p class="headline">{{news}}</p>
                <p><span>{{des}}</p>
                <hr>
                <p><span>Published on: </span>{{pub}}</p>
                <a href="{{url}}" target="_blank">Read more...</a>

            </div>

        </div>
            
            
        {% endfor %}
    </div>

    
</div>

{% endblock %}





